@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.font-primary {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-secondary {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a.active {
  color: #23be0a;
  border: 1px solid #23be0a;
  border-radius: 8px;
  font-weight: 600;
}

.react-tabs__tab {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  color: #13131380;
}

.react-tabs__tab--selected {
  color: #131313cc;
}

.react-tabs__tab-panel {
  margin-top: 32px
}